@import 'tailwindcss';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.

  ------------------------------------------------------------------------------------------------

  ~ example CLI ~ 

  npx @tailwindcss/cli -i /Users/juliushernandez/Documents/GitHub/ald/practice/shortly/input.css -o /Users/juliushernandez/Documents/GitHub/ald/practice/shortly/output.css --watch

  npx @tailwindcss/cli -i ./input.css -o ./output.css --watch

*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl; 
  }

}

@layer components {
  .ald-btn-blue {
    @apply bg-blue-500 px-4 py-2 rounded-xl font-bold text-white cursor-pointer hover:bg-blue-700 
  }

  .ald-btn-red {
    @apply bg-red-500 px-4 py-2 rounded-xl font-bold text-white cursor-pointer hover:bg-red-700 
  }

  /* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
}




